  
*,
*::before,
*::after {
  box-sizing: border-box;

}


.contenedor{
    max-width: 1366px;
    margin: 0 auto;

}


.headerNav{
    width: 100%;
    height: 100vh;
    background-color: blue;
    padding: 1em;
    background-image: url(./img/c289a462ff0f2b2a3740c76daf124c4b.jpg);
}

.menu-ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.menu-ul a{
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
}


.menu-ul img{
    width: 20px;
    margin-right: 16px;
    display: none;
}

.headerNav h1{
    font-family: 'DM Serif Display', serif;
    font-weight: 100;
    font-size: 50px;

    
}
.texto{
    text-align: center;
    margin-top: 13em;
    color: white;
}